/* Main panels (channels, chat, and members) */
#channels {
  flex: 0.5 4 5%;
  background-color: #2e3136;
  color: rgba(255, 255, 255, 0.6);
  flex-direction: column;
  display: flex;
}

// The main panel contains 3 columns (from left to right):
// 1 - Channel management panel
// 2 - Chat panel
// 3 - List of active members on the server
#main_panel {
  display: flex;
  flex-direction: row;
}

.channels {
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  border-right: 1px solid black;
}

// Chat panel is 5 times bigger than the channel management panel
// and the member list panel
.chat_panel {
  display: flex;
  flex: 5 0 0;
  flex-direction: column;
}

.global_members {
  //height: 100%;
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  border-left: 1px solid black;
}

.badge {
  min-width: 25px;
  max-width: 25px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background-color: #f04747;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25), inset 0 1px 0 hsla(0, 0%, 100%, 0.15);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.avatar {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: #555;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar_name {
  flex: 0.001;
}

.avatar_color1 {
  background-color: #e8eaf6;
}

.avatar_color2 {
  background-color: #fbe9e7;
}

.avatar_color3 {
  background-color: #e0f2f1;
}

.avatar_color4 {
  background-color: #f3e5f5;
}

.avatar_color5 {
  background-color: #eeeeee;
}

.avatar_color6 {
  background-color: #ffebee;
}

.avatar_color7 {
  background-color: #e3f2fd;
}

.user_row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
