<p>
  chat-panel works!
</p>
<div class="messages_container">
  <p>Message container</p>
  <p>Message container</p>
  <p>Message container</p>
  <p>Message container</p>
  <p>Message container</p>
  <p>Message container</p>
  <p>Message container</p>
  <p>Message container</p>
  <p>Message container</p>
  <p>Message container</p>
  <p>Message container</p>
  <p>Message container</p>
  <p>Message container</p>
  <p>Message container</p>
  <p>Message container</p>
  <p>Message container</p>
  <p>Message container</p>
  <p>Message container</p>
  <p>Hello</p>
  <p>Hello</p>
  <p>Hello</p>
  <p>Hello</p>
  <p>Hello</p>
  <p>Hello</p>
  <p>Hello</p>
  <p>Hello</p>
  <p>Hello</p>
  <p>Hello</p>
  <p>Hello</p>
  <!-- Here will be all the chat messages -->
  <p>{{inputMessage}}</p>
</div>
<div class="message_bar">
  <form class="message_form" onsubmit="return false;">
    <app-input></app-input>
  </form>
</div>