.message_container {
  flex-direction: column;
  flex: 1 0 70vh;
  min-height: 70vh;
  max-height: 70vh;
  overflow: auto;
  padding: 15px;
  border: 1px solid red;
}

/* Message style */

.msg_system {
  font-size: 13px;
  color: #888;
  margin-top: 2px;
  margin-bottom: 2px;
}

.msg_system:hover {
  color: #fff;
}

.msg_row {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.msg_group {
  width: 100%;
  word-break: break-all;
  word-wrap: break-word;
  min-width: 0;
}

.msg_sender {
  margin-right: 5px;
  font-weight: bold;
  font-size: 18px;
  color: white;
}

.msg_time {
  font-size: smaller;
  font-style: italic;
  color: rgba(255, 255, 255, 0.2);
}
