/* You can add global styles to this file, and also import other style files */

/* Add angular material pre-build theme */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/* Import Roboto font */
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Common style */
* {
  font-family: 'Roboto';
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

// Takes remaining space inside a flex container
.flex-spacer {
  flex-grow: 1;
}
